.formContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form button {
  align-self: flex-start;
}
