nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  gap: 10px;
}
